<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div><br></div>
    <div class="container mb-4 bg-white" style="border-radius: 2px;">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"> </th>
                                    <th scope="col">Order_id</th>
                                    
                                    <th scope="col" class="text-center">No of Emails</th>
                                    <th scope="col" class="text-right">Price</th>
                                    <th scope="col" class="text-right">Payment Status</th>
                                    <th scope="col" class="text-right"> </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="../assets/img/favicon.png" /> </td>
                                    <td>123123</td>
                                    <!-- <td>In stock</td> -->
                                    <td><input class="form-control" type="text" value="1" readonly/></td>
                                    <td class="text-right">124,90 €</td>
                                    <td class="text-right"><button class="btn btn btn-success" disabled>Success</button></td>
                                    <td class="text-right"><button class="btn btn btn-danger"><i class="fa fa-id-card-o">view</i> </button> </td>
                                </tr>
                                <tr>
                                    <td><img src="../assets/img/favicon.png" /> </td>
                                    <td>Product Name Toto</td>
                                    <!-- <td>In stock</td> -->
                                    <td><input class="form-control" type="text" value="1" readonly /></td>
                                    <td class="text-right">33,90 €</td>
                                    <td class="text-right"><button class="btn btn btn-success" disabled>Success</button></td>
                                    <td class="text-right"><button class="btn btn btn-danger"><i class="fa fa-id-card-o">view</i> </button> </td>
                                </tr>
                                <tr>
                                    <td><img src="../assets/img/favicon.png" /> </td>
                                    <td>Product Name Titi</td>
                                    <!-- <td>In stock</td> -->
                                    <td><input class="form-control" type="text" value="1" readonly/></td>
                                    <td class="text-right">70,00 €</td>
                                    <td class="text-right"><button class="btn btn btn-success" disabled>Success</button></td>
                                    <td class="text-right"><button class="btn btn btn-danger"><i class="fa fa-id-card-o">view</i> </button> </td>
                                </tr>
                                
                              
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
        