<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0072aa;">
    <!-- <nav class="navbar navbar-light bg-dark"> -->
  <div class="container-fluid">
    <div class="headerL">
      <a routerLink="/login"  style="color:white;margin-left:3px">
      <img src="../assets/img/favicon.png" alt="logo" height="50" width="50">
     </a>
    Email Validator.

    </div>
    <div class="headerR">
    <ul class="nav">
      <li><i class="fa fa-group" style="font-size:24px;color:white;margin-right:3px"></i>
        <!-- <a routerLink="contactus/" routerLinkActive="active" style="color:white;margin-left:3px">About Us</a></li>&nbsp;&nbsp; -->
        <a routerLink="/aboutus"  style="color:white;margin-left:3px">About Us</a></li>&nbsp;&nbsp;
      <li><i class="fa fa fa-phone-square" style="font-size:24px;color:white;margin-right:3px"></i>
        <a routerLink="/contactus" style="color:white;margin-left:3px">Contact Us</a></li>&nbsp;&nbsp;
    </ul>
    </div>
  </div>
</nav>
