<div >  
    <div class="container-custom" >
        <div class="row" myMatchHeight="card">
          <div class="col-md-7">
            <div class="card" >
              
              <div class="card-body" style="zoom:140%">
                  <h3> What we do?</h3>
                  <hr>  
          <p style="text-align:justify;">
              EmailValidator is a consulting and professional services organization focused
              on supporting upper mid to large enterprises to create and execute their Digital roadmap.
              We are headquartered in Bengaluru, India. We believe that Digital is going to be the biggest
              enabler of revenue to enterprises. We support our customers to maximize value from digital
              and help them translate this value in the form of innovative customer experience,
              highly engaging customers, internal process efficiencies, reduced costs and delivering
              your organization’s stated objective Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.
              highly engaging customers, internal process efficiencies, reduced costs and delivering
              your organization’s stated objective dolor sit amet, consectetur adipiscing elithighly engaging customers.
            </p>
            
            <hr>
            <p>
              Already registered?
              Please login to the portal using your email address and password.
              
            </p>
            
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="auth-wrapper">
                <div class="auth-content">
                  <div class="auth-bg">
                    <span class="r"></span>
                    <span class="r s"></span>
                    <span class="r s"></span>
                    <span class="r"></span>
                  </div>
                  <div class="card">
                    <div class="card-body text-center">
                      <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                      </div>
                      <h3 class="mb-4">Login</h3>
                      <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="input-group mb-4">
                        <input type="password" class="form-control" placeholder="Password">
                      </div>
                    
                      <button class="btn btn-primary mb-4">Login</button>
                      <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/signup']">Reset</a></p>
                      <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/signup']">Sign up</a></p>
                    </div>
                  </div>
                </div>
              </div>
              
  
          </div>
  
        </div>
      </div>
    </div>
    
    
     
  
  
  