<div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6" style="border-radius: 20px;">
                <div class="card-heading">
                    <h2 class="title">Register</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-row">
                            <div class="name">Full name</div>
                            <div class="value">
                                <input class="input--style-6" type="text" name="full_name" placeholder="Enter your Full name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email address</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="email" name="email" placeholder="example@email.com">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                                <div class="name">Contact Number</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-6" type="number" name="email" placeholder="example@email.com">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                    <div class="name">City</div>
                                    <div class="value">
                                        <div class="input-group">
                                            <input class="input--style-6" type="email" name="email" placeholder="example@email.com">
                                        </div>
                                    </div>
                                </div>

                            <div class="form-row">
                                    <div class="name">Passsword</div>
                                    <div class="value">
                                        <div class="input-group">
                                            <input class="input--style-6" type="password" name="email" placeholder="example@email.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                        <div class="name">Re-Enter password</div>
                                        <div class="value">
                                            <div class="input-group">
                                                <input class="input--style-6" type="password" name="email" placeholder="example@email.com">
                                            </div>
                                        </div>
                                    </div>
                                  
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-4"></div> <div class="col-lg-4">
                                <button class="btn btn--radius-2 btn--blue-2" type="submit" >Create Account</button>
                                <p class="mb-0 text-muted">Already have anaccount? <a routerLink="/login">Log in</a></p>
                        </div>
                        <div class="col-lg-4"></div>
                            
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
